.c-label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;

  &::before {
    flex: 0 0 auto;
    display: inline-block;
    font-size: 12px;
    line-height: 17px;
    height: 17px;
    color: #fff;
    padding: 0 5px;
    margin-right: 8px;
    border-radius: 2px;
  }

  &.is-required {
    &::before {
      content: "必須";
      background: #e74d59;
    }
  }

  &.is-success {
    &::before {
      content: "OK";
      background: #16ba5c;
    }
  }

  &__errorText {
    display: inline-block;
    margin-top: 6px;
    color: #df0200;
    font-size: 13px;
    font-weight: bold;
  }
}
